<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>StatMind - Game Search</title>
</head>
<body>
    <h1>League Leaders</h1>
    <form action="http://127.0.0.1:5000/leader">
    <select name="Stat" id="Stat" required>
        <option value="">Please choose a stat</option>
        <option value="PTS">Points</option>
        <option value="REB">Rebounds</option>
        <option value="AST">Assists</option>
        <option value="FG_PCT">Field Goal%</option>
        <option value="FT_PCT">Free Throw%</option>
        <option value="FG3_PCT">3pt Field Goal%</option>
        <option value="STL">Steals</option>
        <option value="BLK">Blocks</option>
    </select>

    <select name="Subject" id="Subject" required>
        <option value="">Search Subject?</option>
        <option value="Player">Player</option>
        <option value="Team">Team</option>
    </select>

    <select name="Period" id="Period" required>
        <option value="">Select a Season</option>

        <script>
            for (let year = 2024; year >= 1947; year--) {
              let nextYear = year + 1;
              let yearFormatted = year + '-' + nextYear.toString().slice(-2); // Format as yyyy-yy
              document.write(`<option value="${yearFormatted}">${yearFormatted}</option>`);
            }
          </script>
          
    </select>

    <select name="Game_Type" id="Game_Type" required>
        <option value="">Regular Season or Playoffs?</option>
        <option value="Regular Season">Regular Season</option>
        <option value="Playoffs">Playoffs</option>
    </select>
    <button type="submit">Submit</button>
</form>
{% if Table %}
<div>{{ Table | safe }}</div>
{% endif %}
</body>
</html>
